<div class="nav">
  <div class="ui secondary pointing menu">
    <a class="logo montserrat bold item" href="{{context.logo_href}}">
      <img class="blueprint-square" src="{{context.applicationDirectory}}assets/img/logo.png"> {{context.logo_name}}
    </a>
    {{#each context.items}}
    <a class="item {{addIfEq this.href ../context.selectedDirectory 'active'}}" href="{{../context.applicationDirectory}}{{this.href}}">
      <i class="{{this.iconClass}} icon"></i>
      {{this.displayName}}
    </a>
    {{/each}}
  </div>
</div>