<!DOCTYPE html>
<html>
<head lang="en">
  {{> shared_header context=headerContext}}

  {{> semantics_ui context=semanticsContext}}

  {{> meta_fb}}

  {{> meta_tw}}

  {{> ga context=gaContext }}

  {{> meta_viewport}}

  <script src="../assets/js/base.js"></script>
</head>

<body>

{{> pageDimmer }}


{{> nav context=navContext }}


{{> banner context=bannerContext }}

<div class="main width-limiter message-center">
  <div class="ui message">
    <p>
      Project submissions must be in by 5 PM, but you can continue hacking until the expo at 6 PM. At the expo, each team will present their projects for a few minutes at a time to small groups of judges in a science-fair format. After expo judging ends at 7 PM, the top teams will be chosen to demo onstage during our closing ceremony in front of all of Blueprint! 
    </p>
    <p>
      The rookie division is meant for people learning to build their first projects or attending their first hackathon this Blueprint. Otherwise, join the experienced division!
    </p>
  </div>
</div>

<div class="ui stackable two column page grid" id="prize-container">
  <div class="column">
    {{#each prizeInfo.rookie}}
    <div class="eight wide column"><div class="ui segment top attached inverted bprint-yellow"><h2>{{this.title}}</h2></div><div class="ui segment bottom attached"><h3>Prize: {{this.amount}}</h3><p></p></div></div><br>
    {{/each}}
  </div>
  <div class="column">
    {{#each prizeInfo.experienced}}
    <div class="eight wide column"><div class="ui segment top attached inverted bprint-darkblue"><h2>{{this.title}}</h2></div><div class="ui segment bottom attached"><h3>Prize: {{this.amount}}</h3><p></p></div></div><br>
    {{/each}}
  </div>
</div>

<div class="ui stackable one column page grid" id="prize-container">
  <div class="column">
    {{#each otherPrizes}}
    <div class="eight wide column"><div class="ui segment top attached inverted bprint-lightblue"><h2>{{this.title}}</h2></div><div class="ui segment bottom attached"><h3>Prize: {{this.amount}}</h3><p></p></div></div><br>
    {{/each}}
  </div>
</div>

</body>
</html>
